/* 공지사항 수정 페이지 스타일 */
.notice-update-container {
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 7px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1 {
    text-align: center;
    color: #0080FF;
    margin-bottom: 20px;
}

/* 입력 필드 스타일 */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2C3E50;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2E9AFE;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #0080FF;
    outline: none;
}

/* 수정 버튼 스타일 */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0080FF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
