<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
  <meta charset="UTF-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <title>eatMate</title>
  <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
</head>

<body>
<!-- Header -->
<header>

  <div class="logo">
    <img th:src="@{/img/logo.png}" alt="eatMate Logo">
  </div>

  <div class="title">
    <img th:src="@{/img/title.png}" alt="eatMate title">
  </div>

  <nav class="main-action">
    <ul>
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/}">About</a></li>
      <li><a th:href="@{/post/list}">Find a Mate</a></li>
      <li><a th:href="@{/post/create}">Create a Mate</a></li>
      <li><a th:href="@{/post/detail}">대충 하나 조회</a></li>
    </ul>
  </nav>

  <hr>

  <nav class="user-tab">
    <ul>
      <!--sec:authorize="isAuthenticated()"-->
      <li sec:authorize="isAuthenticated()"><a th:href="@{/profile/detail}">프로필</a></li>
      <!--sec:authorize="isAuthenticated()"-->
      <li sec:authorize="isAuthenticated()">
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=e14cb05b33510d6d6fb59bc77f202156&redirect_uri=http://localhost:8080/oauth/kakao/callback&response_type=code">
          <img height="38px" src="/img/kakao_login_medium_narrow.png" alt="카카오 로그인">
        </a>
      </li>
      <!--sec:authorize="isAnonymous()"-->
      <li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
      <!--sec:authorize="isAuthenticated()"-->
      <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
      <!--sec:authorize="isAnonymous()"-->
      <li sec:authorize="isAnonymous()"><a th:href="@{/join}">회원가입</a></li>
    </ul>
  </nav>

</header>

<!-- Content Section -->
<div layout:fragment="content">
  <!-- This is where page-specific content will be included -->
</div>

<!-- Footer -->
<footer>
  <div class="footer-logo">
    <img th:src="@{/img/logo.png}" alt="eatMate Logo">
  </div>
  <div class="footer-links">
    <a th:href="@{/privacy}">Privacy Policy</a>
    <a th:href="@{/terms}">Terms of Service</a>
    <a th:href="@{/contact}">Contact Us</a>
  </div>
  <div class="social-media">
    <a th:href="@{/social/x}"><img th:src="@{/img/x.png}" alt="x"></a>
    <a th:href="@{/social/instagram}"><img th:src="@{/img/insta.png}" alt="Instagram"></a>
  </div>
</footer>
</body>
</html>
