/* 폰트 */
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 전체 배경 설정 */
body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header 부분 */
header {
    text-align: center;
    padding: 20px;
    background-color: white;
    position: relative;
}

/* logo 설정 */
.logo img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* user-tab 설정: logo 오른쪽에 위치 */
.user-tab {
    position: absolute;
    top: 40%; /* 로고의 중간 위치로 이동 */
    right: 20px;
    transform: translateY(-40%); /* 중간 위치 보정 */
}

.user-tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.user-tab li {
    display: inline;
}

/* main-action 설정 */
.main-action {
    text-align: center;
    padding: 15px 0;
    background-color: #0080FF;
    border-top: 2px solid #2E9AFE;
    border-left: 2px solid #2E9AFE;
    border-right: 2px solid #2E9AFE;
    border-bottom: 2px solid #2E9AFE;
    border-radius: 7px;
}

.main-action ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.main-action li {
    display: inline;
}

.main-action li a {
    text-decoration: none;
    color: white;
}

.main-action li a:hover {
    font-weight: bold;
}

.center {
    width: 80%;
    margin: 10px auto 10px auto;
}

footer {
    text-align: center;
}

/* logo 설정 */
footer .footer-logo img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer a {
    color: #2C3E50;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}