<!DOCTYPE html>

<html layout:decorate="~{layout/layout.html}">
<head>
    <th:block layout:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/post/createPostForm.css}">
        <link rel="stylesheet" th:href="@{/css/map/map.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script th:src="@{/js/post/createPostForm.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content" id="content">
    <!-- Main Section -->
    <div class="main-section">
        <h1>팀 모집 게시글 작성하기</h1>

        <form th:action="@{/post/createPost}" method="post" th:object="${createPost}" enctype="multipart/form-data" onsubmit="return createPostValidation(this)">

            <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

                <div id="menu_wrap" class="bg_white">
                    <div class="option">
                        <div>
                            <input type="text" id="keyword" size="15">
                            <button type="button" onclick="searchPlaces()">검색</button>
                        </div>
                    </div>
                    <hr>
                    <ul id="placesList"></ul>
                    <div id="pagination"></div>
                </div>
                <input type="hidden" name="addressName" id="addressName">
                <input type="hidden" name="mapId" id="mapId">
                <input type="hidden" name="phone" id="phone">
                <input type="hidden" name="placeName" id="placeName">
                <input type="hidden" name="placeUrl" id="placeUrl">
                <input type="hidden" name="roadAddressName" id="roadAddressName">
                <input type="hidden" name="x" id="x">
                <input type="hidden" name="y" id="y">
            </div>
            <br>

            <div class="form-group">
                <label for="teamName">방 제목:</label>
                <input type="text" id="teamName" name="teamName" th:field="*{teamName}" placeholder="팀 이름을 입력하세요" required>
            </div>

            <div class="form-group">
                <label for="description">설명:</label>
                <textarea id="description" name="description" th:field="*{description}" placeholder="팀 설명과 원하는 사항을 입력하세요" required></textarea>
            </div>

            <!-- 게시글 작성 -->
            <div class="form-group">
                <button type="submit">게시글 작성</button>
            </div>

        </form>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d87d514e58d6b2485b57e6b109fab58&libraries=services,clusterer,drawing"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/map/map.js}"></script>

</div>
</body>
</html>

