<!DOCTYPE html>

<html layout:decorate="~{layout/layout.html}">
<head>
    <th:block layout:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/post/postForm.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content" id="content">
    <!-- Main Section -->
    <div class="main-section">
        <h1>팀 모집 게시글 작성하기</h1>

        <form th:action="@{/post/createPost}" method="post" th:object="${createPost}">

            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" th:field="*{title}" placeholder="게시글 제목을 입력하세요" required>
            </div>

            <div class="form-group">
                <label for="description">설명:</label>
                <textarea id="description" name="description" th:field="*{description}" placeholder="팀 설명과 원하는 사항을 입력하세요" required></textarea>
            </div>

            <div class="form-group">
                <label for="teamName">팀 이름:</label>
                <input type="text" id="teamName" name="teamName" th:field="*{teamName}" placeholder="팀 이름을 입력하세요" required>
            </div>

            <div class="form-group">
                <button type="submit">게시글 작성</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>
