<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>

<head>
    <th:block layout:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Corrected th:href -->
        <link rel="stylesheet" th:href="@{/css/path/yourStyle.css}">
    </th:block>
</head>

<body>
<div layout:fragment="content">

    <div class="team-details">
        <h1 th:text="${team.teamName}"></h1>
    </div>

    <div class="team-details">
        <p><strong>Description:</strong> <span th:text="${team.description}">Description Text</span></p>
    </div>

    <p>채팅방 입장</p>
    <span th:text="${team.chatRoom.roomId}"></span>

    <!-- 채팅방 입장을 위한 form -->
    <form th:action="@{/room/enter/{roomId}(roomId=${team.chatRoom.roomId})}" method="post">
        <button type="submit">채팅방 입장</button>
    </form>

</div>
</body>
</html>
