<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
    <th:block layout:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Corrected th:href -->
        <link rel="stylesheet" th:href="@{/css/post/listPostForm.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content" id="content">

    <!-- Main Section -->
    <div class="main-section">
        <!-- Search Bar -->
        <div class="search-bar">
            <form th:action="@{/search}" method="get">
                <select id="searchType" name="searchType" onchange="updatePlaceholder()">
                    <option value="location" selected>지역</option>
                    <option value="title">제목</option>
                    <option value="author">닉네임</option>
                    <option value="teamName">모임 이름</option>
<!--                <option value="tag">태그</option>          -->
                </select>
                <input type="text" id="searchKeyword" name="searchKeyword" placeholder="Search by location...">
                <button type="submit">Search</button>
            </form>
        </div> <!--search-bar-->

        <!-- List Grid -->
        <div class="list-grid">
            <div th:each="post : ${posts.content}" class="list-item">
<!--                <img th:src="@{/images/default.jpg}" alt="Default Image"> &lt;!&ndash; 이미지 경로는 필요에 따라 수정 &ndash;&gt;-->

                <h3 th:text="${post.title}">Title</h3>

                <p th:text="${post.leaderName}">팀장</p>

            </div>
        </div>


        <!-- Pagination -->
        <div class="pagination" th:if="${posts.totalPages > 1}">
            <a th:href="@{__${posts.previousPageable().pageNumber}}"
               th:classappend="${posts.hasPrevious()} ? '' : 'disabled'">&laquo; Previous</a>
            <span th:each="pageNum : ${#numbers.sequence(1, posts.totalPages)}">
                <a th:href="@{__${pageNum}}"
                   th:classappend="${pageNum == posts.number + 1} ? 'active' : ''"
                   th:text="${pageNum}">1</a>
            </span>
            <a th:href="@{__${posts.nextPageable().pageNumber}}"
               th:classappend="${posts.hasNext()} ? '' : 'disabled'">Next &raquo;</a>
        </div> <!-- 페이지네이션   -->


</div> <!--main Section-->
</div>
</body>
</html>
