<!DOCTYPE html>
<html
        layout:decorate="~{layout/layout.html}"
>

<head>
  <th:block layout:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/map/map.css}">
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <div class="team-details">
    <form th:action="@{/post/updateTeam}" method="post">
      <input type="hidden" name="teamId" th:value="${team.id}">

      <div class="form-group">
        <label for="teamName">팀 이름:</label>
        <input type="text" id="teamName" name="teamName" class="form-control" th:value="${team.teamName}">
      </div>

      <div class="form-group">
        <label for="description">팀 설명:</label>
        <textarea id="description" name="description" class="form-control" rows="4"
                  th:text="${team.description}"></textarea>
      </div>

      <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
          <div class="option">
            <div>
              키워드 : <input type="text" id="keyword" size="15">
              <button type="button" onclick="searchPlaces()">검색하기</button>
            </div>
          </div>
          <hr>
          <ul id="placesList"></ul>
          <div id="pagination"></div>
        </div>
        <input type="hidden" name="mapId" id="mapId" th:value="${team.mapId}">
        <input type="hidden" name="addressName" id="addressName" th:value="${team.addressName}">
        <input type="hidden" name="phone" id="phone" th:value="${team.phone}">
        <input type="hidden" name="placeName" id="placeName" th:value="${team.placeName}">
        <input type="hidden" name="placeUrl" id="placeUrl" th:value="${team.placeUrl}">
        <input type="hidden" name="roadAddressName" id="roadAddressName" th:value="${team.roadAddressName}">
        <input type="hidden" name="x" id="x" th:value="${team.x}">
        <input type="hidden" name="y" id="y" th:value="${team.y}">
      </div>

      <div class="form-group">
        <!-- 수정 완료 버튼 -->
        <button type="submit" class="btn btn-success">수정 완료</button>
      </div>


    </form>
    <!-- 게시글 삭제 버튼 -->
    <form th:action="@{/post/deleteTeam}" method="post" style="margin-top: 10px;">
      <input type="hidden" name="teamId" th:value="${team.id}">
      <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?')">게시글 삭제</button>
    </form>
  </div>


  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d87d514e58d6b2485b57e6b109fab58&libraries=services,clusterer,drawing"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script th:src="@{/js/post/updatePostForm.js}"></script>

</div>
</body>
</html>
