<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
    <th:block layout:fragment="head">
        <title>로그인</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </th:block>
    <style>
        .login-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px; /* 버튼 사이 간격 */
            margin-top: 20px; /* 로그인 제목과 버튼 사이 간격 */
        }

        .login-buttons a img {
            width: auto;
            height: 38px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <!--
    <div th:if="${param.error}" class="form-group">
        <span th:text="${exception}?: '잘못된 아이디나 암호입니다'" class="alert alert-danger"></span>
    </div>
    -->
    <section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mt-5">로그인</h1>
                <!--
                <form id="login" name="login" class="mt-4" th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="email">이메일</label>
                        <input type="text" id="email" name="email" class="form-control userid" placeholder="이메일을 입력해 주세요" autocomplete="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">비밀번호</label>
                        <input type="password" id="password" name="password" class="form-control userpwd" placeholder="4~20자 사이로 입력" autocomplete="current-password">
                    </div>
                    <input value="로그인" type="submit" class="btn btn-primary w-50">
                    <input value="회원가입" type="button" class="btn btn-primary w-50" onclick="location.href='join'">
                </form>
                -->
                <!-- REST API로 로그인 처리 -->
                <div class="login-buttons">
                <a href="/oauth2/authorization/kakao">
                    <img height="38px" src="/img/kakao_login_medium_narrow.png" alt="카카오 로그인">
                </a>
                <!-- 네이버 로그인 버튼 -->
                <a href="/oauth2/authorization/naver">
                    <img height="38px" src="/img/naver_login.png" alt="네이버 로그인">
                </a>
                <!-- 구글 로그인 버튼 -->
                <a href="/oauth2/authorization/google">
                    <img height="38px" src="/img/google_login.png" alt="구글 로그인">
                </a>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</body>
</html>
