<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>

<head>
    <th:block layout:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Corrected th:href -->
<!--        <link rel="stylesheet" th:href="@{/css/path/yourStyle.css}">-->
    </th:block>
</head>

<body>
<div layout:fragment="content">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d87d514e58d6b2485b57e6b109fab58"></script>

    <div id="map" style="width:500px;height:400px;"></div>

    <script th:src="@{/js/map.js}"></script>

</div>
</body>
</html>
