<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>

<head>
    <th:block layout:fragment="head">
        <meta charset="UTF-8">
        <!-- Corrected th:href -->
        <link rel="stylesheet" th:href="@{/css/map/map.css}">
    </th:block>
</head>

<body>
<div layout:fragment="content">

    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d87d514e58d6b2485b57e6b109fab58&libraries=services,clusterer,drawing"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/map/map.js}"></script>

</div>
</body>
</html>
