/* 메시지 영역을 채우고 스크롤 가능하도록 설정 */
.message-container {
   height: calc(100vh - 150px); /* 하단 입력창 공간을 제외한 영역 */
   overflow-y: auto;
   padding: 10px;
   background-color: #f8f9fa;
}

/* 입력창을 화면 하단에 고정 */
.input-container {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: white;
   padding: 10px;
   border-top: 1px solid #ccc;
}

.input-container .form-control {
   margin-right: 10px;
}

/* Container */
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

/* Chat Room Header */
h2 {
    color: #0080FF;
    font-weight: bold;
    font-size: 24px;
}

/* Exit Button */
.btn-info {
    background-color: #2E9AFE;
    border-color: #2E9AFE;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
}

.btn-info:hover {
    background-color: #1C6EA4;
    border-color: #1C6EA4;
    opacity: 0.9;
}

/* Message Input */
.input-group-text {
    background-color: #2E9AFE;
    border-color: #2E9AFE;
    color: white;
    font-weight: bold;
}

.form-control {
    border: 1px solid #2E9AFE;
    border-radius: 5px;
}

.btn-primary {
    background-color: #0080FF;
    border-color: #0080FF;
    color: white;
}

.btn-primary:hover {
    background-color: #0066CC;
    border-color: #0066CC;
}

/* Chat Messages */
.list-group-item {
    border: 1px solid #2E9AFE;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: #333;
}

.list-group-item:hover {
    background-color: #f1f9ff;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2E9AFE;
    color: white;
}

footer a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

footer a:hover {
    color: #0080FF;
    text-decoration: underline;
}
